<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Reservation Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .first-class {
            color: gold;
            font-weight: bold;
            font-size: 18px;
        }
    </style>

</head>

<body>
    <main class="container" id="app">
        <h1>Reserva de vuelos</h1>
        <article v-for="reservation in flightReservations">
            <p>Número del vuelo: {{ reservation.flightNumber }}</p>
            <p>Categoría: <span :class="{ 'first-class': reservation.ticketClass === 'First Class' }">{{
                    reservation.ticketClass }}</span></p>
            <p>Puerta de embarque: {{ reservation.gate }}</p>
            <p>Email de la reserva: {{ reservation.passenger.contactInfo.email }}</p>
            <p v-if="reservation.isCancelled">Vuelo cancelado ❌</p>
            <p v-else>Vuelo confirmado 👌</p>

        </article>

    </main>
    <script type="module" src="app.js"></script>

</body>

</html>